.camera-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .camera-icon {
    font-size: 64px;
    color: #3498db;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  