
/* Home Page Styling */
.card {
  display: flex;
  flex-direction: row-reverse;
  background-color: eef1f0;
  border-radius: 5px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
}

.imag {
  width: 50%;
  border-radius: 5px;
}

.card-content {
  flex: 1;
  padding: 10px;
}

.card-content h2 {
  margin-top: 0;
}

.card-content h5 h4 {
  margin-bottom: 10px;
}

.start {
  padding: 8px 36px;
  background-color: rgb(245, 96, 42);
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  border-radius: 18px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}


/* google button */
/* buttonStyles.css */
.google-button {
  background-color: yellow;
  border: 2px solid #0363ff;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.google-icon{
  color: red;
  font-size: 18px;
  font-weight: bold;
}
.icon-text{
  font-size: 15px;
  margin-top: 13px;
  color: #0363ff;
font-weight: bold;
}
.google-button:hover{
  background: yellow;
  color: red;
}

